################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/ProjectSettings
/obj
/Logs
/Library
/Dynamic Utils.sln
/Assets
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/.vs
